.today{
    margin: 20px;
    padding: 50px;
    width: 600px;
    height: 300px;
    text-align: center;
    border: 1px solid rgb(179, 171, 171);
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 #00000050;
}

.today span{
    padding: 20px;
}

.today .big{
    display: flex;
    flex-direction: row;
    justify-content: center;
}