.today{
    margin: 20px;
    padding: 0 60px 70px 60px;
    width: 600px;
    height: 345px;
    text-align: center;
    border: 1px solid rgb(179, 171, 171);
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 #00000050;
}

.today span{
    padding: 20px;
}

.today .temp{
    font-size: 40px;
    align-self: center;
    padding-left: 20px;
}

.today .big{
    display: flex;
    flex-direction: row;
    justify-content: center;
}