.FiveDays .Day{
    display: inline-block;
    margin: 20px 6px;
    padding: 3px;
    width: 160px;
    height: 200px;
    text-align: center;
    border: 1px solid rgb(179, 171, 171);
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 #a1a1a1;
}

.FiveDays span{
    margin-left: 12px;
}

.FiveDays p{
    margin: 4% 10%;
    font-size: smaller;
    text-align: left;
}

.FiveDays h5{
    margin: 10px 0 5px 0;
}